@import "../../variables";


.overlay-modal {
    height: 100vh;
    width: 100vw;
    background: rgba(23, 30, 84, 0.2);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include flex-center;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-in;

    &--active {
        opacity: 1;
        pointer-events: all;
    }

    .modal {
        width: 100%;
        max-width: 540px;
        position: relative;
        background: $main_bg-color;
        backdrop-filter: blur(30px);
        border-radius: 30px;
        padding: 22px 65px;

        &__close {
            position: absolute;
            cursor: pointer;
            right: 24px;
            top: 24px;
            width: 16px;
            height: 16px;
            opacity: 1;
            transition: all .2s;

            &:hover {
                opacity: 0.6;
            }

            &:before,
            &:after {
                position: absolute;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: #000;
                border-radius: 2px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}