@import "../../../variables";

.clickable-item {
    height: 22px;
    cursor: pointer;
    background: #BEC6FF;
    border-radius: 6px;
    padding: 2px 8px;
    @include flex-align-center;
    transition: all .2s ease-in;

    &:hover {
        opacity: 0.9;
    }

    &__data {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #EFF2F8;
    }

    &__delete {
        position: relative;
        cursor: pointer;
        width: 7px;
        height: 7px;
        margin-left: 6px;
        opacity: 1;
        transition: all .2s;

        &:before,
        &:after {
            position: absolute;
            content: ' ';
            left: 2px;
            height: 8px;
            width: 1px;
            background-color: #EFF2F8;
            border-radius: 1px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}