@import "../../variables";

.popup {
    position: fixed;
    z-index: 4;
    top: 50px;
    right: 70px;
    background-color: $success;
    @include flex-align-center;
    padding: 13px 16px;
    border-radius: 4px;
    transition: all .2 ease-out;
    right: -300px;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;

    &--active{
        right: 70px;
    }

    &__icon {
        margin-right: 13px;
        width: 20px;
        height: 20px;
    }

    &__message {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }

    &__close {
        position: relative;
        cursor: pointer;
        margin-left: 18px;
        @include flex-center;
        width: 20px;
        height: 20px;
    }

    &__close-line {
        position: absolute;
        width: 12px;
        height: 1.6px;
        background-color: #fff;

        &:first-child {
            rotate: 45deg;
        }

        &:last-child {
            rotate: -45deg;
        }
    }
}