@import "../../../../variables";

.loading { 
    margin: 20px 0px 90px;
    padding-left: 43.5%;
}

.empty-list {  
    margin-top: 20px;
    width: 100%;
    text-align: center; 
    color: #767676; 
}

.table {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 14px;
    width: 100%;

    .row {
        @include flex-align-center;
        gap: 50px;

        &__item,
        &__item-active {
            width: $area-width; 
        }

        &__item,
        &__textarea {
            padding: 18px 48px 18px 14px;
            border-radius: 17px;
            box-shadow: 2px 2px 8px rgba(0, 7, 26, 0.04);
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }

        &__item {
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: rgba(255, 255, 255, 0.7);
            color: #4E5157;
        }

        &__item-active {
            position: relative;
            height: 100%;
        }

        &__textarea {
            width: 100%;
            height: 100%;
            resize: none;
            background: rgba(255, 255, 255, 0.8);
            border: 2px solid #E1E3F7;
            font-family: 'Poppins';
            color: $main_dark-text-color;
            outline: none;
        }

        &__select-lang {
            position: absolute;
            right: -29px;
            top: 16%;
        }

        &__buttons {
            display: flex;
            gap: 12px;
        }

        &__button-container {
            background-color: $primary;
            border-radius: 100%;
            @include flex-center;
            cursor: pointer;
            transition: all .2s ease-in-out;
            width: 36px;
            height: 36px;

            &:hover {
                background-color: $primary-hover;
            }
        }

        &__save {
            @include flex-center;
            cursor: pointer;
            width: 15px;
            height: 15px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 1.8px;
                border-radius: 2px;
                background-color: #fff;
            }

            &::before {
                transform: rotate(45deg) translateX(3px) translateY(-2px);
                height: 17px;
            }

            &::after {
                transform: rotate(135deg) translateX(6px) translateY(1px);
                height: 10px;
            }
        }
    }
}