@import "../../../../variables";

.loading {
    margin: 20px 0px 90px;
    padding-left: 43.5%;
}

.empty-list {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #767676;
}

.table {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 14px;
    width: 100%;
}