@import "../../../../../variables";


.row-active {
    display: flex;
    gap: 50px;
    margin: 20px 0;

    &:first-child {
        margin-top: 0;
    }

    &__buttons {
        @include flex-align-center;
        gap: 12px;
    }

    &__button-container {
        background-color: $primary;
        border-radius: 100%;
        @include flex-center;
        cursor: pointer;
        transition: all .2s ease-in-out;
        width: 36px;
        height: 36px;

        &:hover {
            background-color: $primary-hover;
        }
    }

    &__save {
        @include flex-center;
        cursor: pointer;
        width: 15px;
        height: 15px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 1.8px;
            border-radius: 2px;
            background-color: #fff;
        }

        &::before {
            transform: rotate(45deg) translateX(3px) translateY(-2px);
            height: 17px;
        }

        &::after {
            transform: rotate(135deg) translateX(6px) translateY(1px);
            height: 10px;
        }
    }
}