@import "../../../../variables";

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    &__label {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    &__input-container {
        position: relative;
        @include flex-align-center;
    }

    &__input {
        width: 100%;
        background: #fff;
        border-radius: 12px;
        border: none;
        height: 56px;
        padding: 21px 42px 21px 19px;
        font-size: 18px;
        color: $main_dark-text-color;
        font-family: 'Poppins';
        outline-color: $primary;

        &--invalid {
            outline-color: none;
            border: 2px solid rgba(246, 60, 60, 0.4);
            box-shadow: 2px 2px 8px rgba(230, 57, 70, 0.2);
            border-radius: 12px;
        }
    }

    &__clean {
        display: none;
        position: absolute;
        right: 19px;
    }

    &__input:not(:placeholder-shown)~&__clean {
        display: block;
    }

    &__error-message {
        position: absolute;
        bottom: -27px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $danger;
        text-align: center;
    }
}