@import "../../../variables";

.dropdown-search {
    width: 100%; 
    position: relative;

    &__input {
        background-color: $main_bg-color;
        text-transform: capitalize;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 8px 44px 8px 24px;
        @include font-16-400;
        width: 100%;
        height: 40px;
        outline: none;
        position: relative;
        z-index: 3;
    }

    &__button {
        cursor: pointer;
        position: absolute;
        z-index: 3;
        top: 17px;
        right: 24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: $primary transparent transparent transparent;
    }

    &__list {
        background-color: #fff;
        border: 1px solid $main_bg-color;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: none;
        padding-top: 20px;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 0;
        right: 0;
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll
    }

    &__list-item {
        @include font-16-400;
        height: 40px;
        @include flex-align-center;
        padding: 0px 24px;
        border-bottom: 1px solid $main_bg-color;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #e8edf7;
        }
    }
}