@import "../../../../variables";

.add-word {
    display: flex;
    gap: 50px;
    margin: 24px 0 40px;
    @include flex-align-center;

    &:last-child() {
        background-color: red;
        width: 300px;
        height: 300px;
    }

    &__button-container {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        background-color: $primary;
        border-radius: 100%;
        @include flex-center;
        cursor: pointer;
        transition: all .2s ease-in-out;
        transform: rotateZ(45deg);

        &:hover {
            background-color: $primary-hover;
        }
    }
}