@import "../../../../../variables";

.row { 
    display: flex;
    gap: 50px; 

    &__delete {
        margin-top: 21px;
        background-color: $primary;
        border-radius: 100%;
        @include flex-center;
        cursor: pointer;
        transition: all .2s ease-out;
        width: 36px;
        height: 36px;
        padding: 8px;

        &:hover {
            background-color: $danger;
        }
    }

    &__delete-icon {
        width: 100%;
        height: 100%;
    }
}