@import "../../variables";

.header {
    margin: 82px 0 47px;
    @include flex-align-center;
    justify-content: space-between;

    &__right {
        @include flex-align-center;
        gap: 30px
    }

    &__button {
        cursor: pointer;
        background-color: #dc8a88;
        border: none;
        border-radius: 8px;
        padding: 8px 32px;
        color: #fff;
        transition: all .2s ease-in-out;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;

        &:hover {
            background-color: rgb(228, 84, 84);
        }
    }

    &__user {
        @include flex-align-center;
        text-decoration: none;
        gap: 12px;
        color: #575757;
    }

    &__user.active {
        color: $primary;
    }

    &__user-name {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    &__avatar {
        border: 1.85px solid #00071a1e;
        border-radius: 100%;
        padding: 1px;
        width: 48px;
        height: 48px;
        @include flex-center;
    }

    &__avatar-icon {
        height: 43.11px;
    }
}