@import "../../../variables";

.block {
    &__title {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: rgb(128, 131, 140);
        margin-bottom: 3px;
    }

    &__items {
        min-height: 42px;
        @include flex-align-center;
        flex-wrap: wrap;
        border-radius: 6px;
        padding: 2px 4px;
        border: 1px solid rgb(186, 192, 230);
        background-color: #fff;
    }

    &__input-wrapper {
        display: flex;
        flex-grow: 1;
    }

    &__input {
        height: 34px;
        min-width: 100px;
        width: 100%;
        @include font-15-400($main_dark-text-color);
        outline: none;
        border: none;
        padding-left: 10px;
    }
}