@import "../../../variables";

.block {
    &__title {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #9090B0;
        margin-bottom: 4px;
    }

    &__items {
        min-height: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        border-radius: 8px;
        padding: 5px 9px;
        border: 1px solid #BEBED8;

        &--large {
            min-height: 67px;
        }
    }


    &__input-wrapper {
        display: flex;
        flex-grow: 1;
    }

    &__input {
        height: 22px;
        min-width: 100px;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        outline: none;
        border: none;
        color: $main_dark-text-color;
        background-color: transparent;
    }
}